<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="hospital_menu"
              name="Hospital 7amada"
              web_icon="Hospetal,static/description/icon.png"
              sequence="0"/>
    <menuitem id="patient_detalis"
              parent="hospital_menu"
              name="Patient Gender"
              sequence="0"/>
    <menuitem id="appointment_main_menu"
              parent="hospital_menu"
              name="Appointment"
              sequence="2"/>
    <menuitem id="configuration"
              parent="hospital_menu"
              name="Configuration"
              sequence="3"/>
    <menuitem id="menu_technical"
              parent="hospital_menu"
              name="Technical"
              sequence="4"/>

     <menuitem id="menu_relations"
              parent="hospital_menu"
              name="Export Relations"
              sequence="5"/>

</odoo>
